html, body {
  
  color: #616161;
  height: 100%;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
  position: relative;
}

.header {
  grid-area: header;
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
  background-color: #212121;
  color: #fff;
  text-align: center;
}

.site-footer, .login-wrapper:after, .noside-wrapper:after {
  height: 42px; 
}
.site-footer {
  background: orange;
}

.wrapper {
		display: grid;
    grid-gap: 2px;
    grid-template-rows: 72px auto;
		grid-template-columns: 300px auto;
		grid-template-areas:
    "header  header"
		"sidebar content"
		/* background-color: #fff;
		color: #444; */
  }
  
  .conent-wrapper {
		display: grid;
    grid-gap: 10px;
    
	}

  .button-group  button {
    padding-right: 12px;
    margin-top: 12px;
  }

  .button-group {
    display: grid;
    grid-gap: 12px;
    width: 300px;
    grid-template-columns: auto auto auto;
    
  }
  .login-wrapper {
    min-height: 100%;
  
    margin-bottom: -42px;

		display: grid;
    grid-gap: 2px;
    grid-template-rows:  auto;
		grid-template-columns: auto;
		grid-template-areas:
    "content"
		
  }
  
  .login-wrapper:after, .noside-wrapper:after {
    content: "";
    display: block;
  }


  .noside-wrapper {
    min-height: 100%;
  
    margin-bottom: -42px;

		display: grid;
    grid-gap: 2px;
    grid-template-rows: 72px auto;
		grid-template-columns: auto;
		grid-template-areas:
    "header"
		"content"
	
		/* background-color: #fff;
		color: #444; */
  }

.box {
  /* background-color: #444;
  color: #fff; */
  border-radius: 5px;
  padding: 5px;
  font-size: 150%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  flex: 1;
}


.header-wrapper {
  display: grid;
  grid-template-columns: 60px auto auto;
}

.brand-lockup__logo {
  background: url(./pngfind.com-sprite-png-202401.png) 10% 50%/auto 100% no-repeat;
  display: block;
   height: 32px; 
  margin-right: 16px; 
  
}


.flex-container-login {
  /* We first create a flex layout context */
  display: flex;
  
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: column;
  
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
  
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item-login {
  
padding: 5px;
  max-width: 450px;
  margin-top: 10px;
  
  
}